.admin-concert {
    --border-size: 1px;
    --border-color: #C2C2C2;
    --card-title-color: #1692EC;
    --card-detail-color : #000000;
    --button-delete-color: #E84E4E;
}

.admin-concert-card{
    border: var(--border-size) solid var(--border-color);
    border-radius: 8px;
}

.title{
    color: var(--card-title-color);
    font-weight: 700;
}

.detail{
    color: var(--card-detail-color)
}

.button-delete{
    font-size: 24px;
}