.admin {
    --text-highlight-color: #1692EC;
}
.admin-components {
    --card-text-color: #FFFFFF;
}

.admin-components-card{
    color: var(--card-text-color);
}

.admin-page nav{
    color: #5C5C5C;
    font-size: 24px;
    gap: 22px;
}

.admin-page nav .select{
    border-bottom: var(--text-highlight-color) 2px solid;
    border-bottom-width: 2px ;
    color: var(--text-highlight-color);
    font-size: 24px;
}